<!DOCTYPE html>
<html>
<head>
    <title>Blogz</title>
   
    <style>
        h1{
            text-align: left; 
            text-decoration: underline;         
        }
        .error{
            color: red;
        }
   	.topnav {
  		background-color: rgb(95, 93, 93);
  		overflow: hidden;
  		width: 419px;
		}

	.topnav a {
  		float: left;
 		color: #f2f2f2;
  		text-align: center;
  		padding: 14px 16px;
  		text-decoration: none;
  		font-size: 17px;
		}

	.topnav a:hover {
  		background-color: #ddd;
  		color: black;
		}
		
	
    
   
    </style>
</head>
<body>
    
    
        <div class='topnav'>
            <a href="/">Home</a>
			<a href="/blog">All Posts</a>
			<a href="/newpost">New Post</a>
			<a href="/login">Login</a>
			<a href="/logout">Logout</a>
        </div>
 
    <h1>{{header}}</h1>
    

    
    {% with messages = get_flashed_messages(with_categories=True) %}
    <ul>
    {% for category, message in messages %}
        <li class="{{category}}">{{message}}</li>
    {% endfor %}
    </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}
 
</body>
</html>