<!DOCTYPE html>
<html>
<head>
    <title>Blogz</title>
   
    <style>
        h1{
            text-align: left;          
        }
        .error{
            color: red;
        }
   
    .right {
    	float:right;
		text-align: left;
		padding:20px;
		font-size:16px;
		font-weight:bold;
	}
	.left{
		float:left;
		text-align: right;
		padding:20px;
		font-size:16px;
		font-weight:bold;




}
    </style>
</head>
<body>
    
        <div class='left'>
            <a href="/">Home</a>
			<a href="/blog">All Posts</a>
			<a href="/newpost">New Post</a>
			
        </div>
    
    <div class= "right">
			<a href="/login">Login</a>
			<a href="/logout">Logout</a>
        </div>
    <br>
    <br>
    <h1>{{header}}</h1>
    
    {% with messages = get_flashed_messages(with_categories=True) %}
    <ul>
    {% for category, message in messages %}
        <li class="{{category}}">{{message}}</li>
    {% endfor %}
    </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}
 
</body>
</html>